[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"

[packages]
pyredux = "*"
pluggy = "*"
loguru = "*"
python-dotenv = "*"
yapsy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
